* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5% 30px 30px;
  /* height: 12vh; */
  /* border: 2px solid red; */
}

.dashboard-page header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  /* border: 2px solid green; */
}
@media screen and (max-width: 1000px) {
  .dashboard-page header nav {
    width: 30vw;
    /* border: 2px solid red; */
  }
}

.dashboard-page h1 {
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4523;
  /* border: 2px solid red; */
}

.dashboard-page h1:not(h1 span) {
  letter-spacing: 5px;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  .dashboard-page h1 {
    font-size: 3.5vw;
    min-width: 22vw;
    /* border: 2px solid red; */
  }
  .dashboard-page h1:not(h1 span) {
    letter-spacing: 0px;
  }
  .dashboard-page h1 span {
    font-size: 4.5vw !important;
    padding: 0 8px !important;
    margin-right: 10px;
  }
}

.dashboard-page h1 span {
  background-color: #4b4523;
  font-size: 40px;
  color: #fff;
  padding: 0px 15px;
  border-radius: 10px;
}

.fa-bars-staggered {
  font-size: 30px;
  /* border: 2px solid green; */
}
.fa-bars-staggered:hover {
  font-size: 35px;
  transition: ease 1s all;
}
@media screen and (max-width: 1000px) {
  .fa-bars-staggered {
    font-size: 3.5vw;
    /* margin-left: 5vw; */
  }
  .fa-bars-staggered:hover {
    font-size: 4vw;
  }
}

.dashboard-page header p {
  width: 45%;
  text-align: center;
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .dashboard-page header p {
    display: none;
  }
}

.head-btn-con {
  width: fit-content;
  text-align: center;
}

.head-btn-con button {
  padding: 0.7vw 1.2vw;
  background-color: #69633e;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .head-btn-con button {
    font-size: 15px;
  }
}
.head-btn-con button:hover {
  background-color: #4b4523;
}

button .fa-user {
  margin-right: 10px;
  /* color: red; */
}

button .fa-caret-down {
  margin-left: 10px;
}

/* ======== */
/* Pop up Nav */
.append-popup {
  display: none;
  opacity: 0;
  /* transition: opacity 2s ease-out; */
}
/* Add styles for when the element is visible */
.add-opacity {
  display: block;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.pop-up-bg-con {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(124, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-nav {
  width: 95%;
  height: 90vh;
  background-color: #fff;
  border-radius: 10px;
}

.popup-nav .close-icon {
  font-size: 2.8em;
  color: rgb(189, 16, 16);
  margin: 15px 30px;
  transition: ease 1s all;
  width: fit-content;
}
.popup-nav .close-icon:hover {
  font-size: 3.2rem;
  color: rgb(238, 18, 18);
}

.popup-nav section {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.popup-nav section li {
  list-style-type: none;
  margin-top: 30px;
  transition: ease 0.5s all;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.popup-nav section li:hover {
  background-color: #817c5a;
  padding: 10px 15px;
}
