* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5% 30px 30px;
  height: 12vh;
  /* border: 2px solid red; */
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  /* border: 2px solid green; */
}
@media screen and (max-width: 1000px) {
  header nav {
    width: 230px;
  }
}

h1 {
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4523;
  /* border: 2px solid red; */
}

h1:not(h1 span) {
  letter-spacing: 5px;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 18px;
    min-width: 130px;
    /* border: 2px solid red; */
  }
  h1:not(h1 span) {
    letter-spacing: 0px;
    font-weight: 900;
  }
  h1 span {
    font-size: 30px !important;
    padding: 0 8px !important;
  }
}

h1 span {
  background-color: #4b4523;
  font-size: 40px;
  color: #fff;
  padding: 0px 15px;
  border-radius: 10px;
}

.fa-bars-staggered {
  font-size: 30px;
  /* border: 2px solid green; */
}
.fa-bars-staggered:hover {
  font-size: 35px;
  transition: ease 1s all;
}
@media screen and (max-width: 1000px) {
  .fa-bars-staggered {
    font-size: 22px;
  }
  .fa-bars-staggered:hover {
    font-size: 25px;
  }
}

header p {
  width: 45%;
  text-align: center;
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  header p {
    display: none;
  }
}

.head-btn-con {
  width: fit-content;
  text-align: center;
}

.head-btn-con button {
  padding: 10px 15px;
  background-color: #69633e;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.head-btn-con button:hover {
  background-color: #4b4523;
}

button .fa-user {
  margin-right: 10px;
  /* color: red; */
}

button .fa-caret-down {
  margin-left: 10px;
}
