* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.dashboard-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5% 30px 30px;
}

.dashboard-page header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  /* border: 2px solid green; */
}
@media screen and (max-width: 1000px) {
  .dashboard-page header nav {
    width: 30vw;
    /* border: 2px solid red; */
  }
}
@media screen and (max-width: 500px) {
  .dashboard-page header nav {
    width: 150px;
  }
}

.dashboard-page h1 {
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4523;
  /* border: 2px solid red; */
}

.dashboard-page h1:not(h1 span) {
  letter-spacing: 5px;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  .dashboard-page h1 {
    font-size: 3.5vw;
    min-width: 22vw;
    /* border: 2px solid red; */
  }
  .dashboard-page h1:not(h1 span) {
    letter-spacing: 0px;
  }
  .dashboard-page h1 span {
    font-size: 4.5vw !important;
    padding: 0 8px !important;
    margin-right: 10px;
  }
}

.dashboard-page h1 span {
  background-color: #4b4523;
  font-size: 40px;
  color: #fff;
  padding: 0px 15px;
  border-radius: 10px;
}

.fa-bars-staggered {
  font-size: 30px;
  /* border: 2px solid green; */
}
.fa-bars-staggered:hover {
  font-size: 35px;
  transition: ease 1s all;
}
@media screen and (max-width: 1000px) {
  .fa-bars-staggered {
    font-size: 3.5vw;
    /* margin-left: 5vw; */
  }
  .fa-bars-staggered:hover {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .fa-bars-staggered {
    font-size: 25px;
    /* margin-left: 20px; */
  }
}

.dashboard-page header p {
  width: 45%;
  text-align: center;
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .dashboard-page header p {
    display: none;
  }
}

.head-btn-con {
  width: fit-content;
  text-align: center;
  /* border: 2px solid red; */
  position: relative;
}

.top-profile {
  padding: 5px;
  background-color: #69633e;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  z-index: 9999;
}
@media screen and (max-width: 1000px) {
  .top-profile {
    font-size: 15px;
  }
}
.top-profile:hover {
  background-color: #4b4523;
}

.top-profile .fa-user {
  margin-right: 10px;
  /* color: red; */
}

.top-profile .fa-caret-down {
  margin-left: 10px;
}

.logout {
  display: none;
  padding: 10px 30px;
  background-color: #e4e2d6;
  color: #69633e;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 40px;
  transition: ease 0.5s all;
  z-index: 9999;
}
.logout:hover {
  color: #e4e2d6;
  background-color: #928d6f;
}
.add-logout-css {
  display: block;
}
@media screen and (max-width: 500px) {
  .logout {
    padding: 5px 25px;
  }
}
@media screen and (max-width: 450px) {
  .logout {
    padding: 5px 15px;
  }
}

/* ======== */
/* Pop up Nav */
.append-popup {
  display: none;
  /* opacity: 0;
  transition: opacity 2s ease-in-out; */
}
/* Add styles for when the element is visible */
.add-opacity {
  display: block;
  /* opacity: 1; */
  /* transition: opacity 2s ease-in-out; */
}

.append-popup h1 {
  font-size: 40px !important;
  z-index: 20;
  /* background-color: #fff; */
  height: fit-content;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.append-popup h1 span {
  font-size: 50px !important;
}

.pop-up-bg-con {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(124, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-nav {
  width: 50%;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
}
@media screen and (max-height: 730px) {
  .popup-nav {
    padding-block: 3vh;
  }
}
@media screen and (max-width: 600px) {
  .popup-nav {
    width: 80%;
  }
}

.popup-nav .close-icon {
  font-size: 2.2em;
  color: rgb(189, 16, 16);
  /* margin: 15px 30px; */
  margin-block: 1vh;
  transition: ease 1s all;
  width: fit-content;
}
.popup-nav .close-icon:hover {
  font-size: 3rem;
  color: rgb(238, 18, 18);
}

.popup-nav section {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

.popup-nav section li {
  list-style-type: none;
  margin-top: 30px;
  transition: ease 0.5s all;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media screen and (max-height: 730px) {
  .popup-nav section li {
    margin-top: 3vh;
  }
}

.popup-nav section li:hover {
  background-color: #817c5a;
  padding: 10px 15px;
}
