.dashboard-page {
  /* display: none; */
}

.sidebar-other-sections {
  padding-left: 30px;
  display: flex;
  width: 100%;
  min-height: 88vh;
  /* border: 2px solid red; */
}
@media screen and (max-height: 700px) {
  .sidebar-other-sections {
    /* border: 2px solid red; */
    min-height: 100vh;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar-other-sections {
    padding-left: 0px;
  }
  .sidebar-other-sections aside {
    display: none;
  }
  aside ul {
    /* border: 2px solid red; */
    margin-inline: auto;
    min-width: 50%;
  }
}
/* Toggle Side Bar CSS */
.add-toggle-bar-con {
  display: none;
}

/* .add-tab-phone-css {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(124, 120, 120);
} */
/* ======== */

aside ul {
  /* border: 2px solid green; */
  width: 220px;
  margin-top: 60px;
  cursor: pointer;
}

aside ul li {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  align-items: center;
  transition: ease 0.5s all;
  font-weight: 700;
}

aside ul li:hover {
  background-color: #817c5a;
  padding: 10px 15px;
}

.fa-chart-column,
.fa-magnifying-glass-dollar,
.fa-person-circle-plus,
.fa-address-card {
  font-size: 30px;
  margin-right: 20px;
}

/* ======== */
/* Stat Section CSS */
/* ======== */
.other-section {
  border-top: 0.5px solid #69633e;
  border-left: 0.5px solid #69633e;
  width: 100%;
  background-color: #f5f4f0;
}

.where-to-apply-stat-display {
  /* display: none; */
}

.stat-con {
  width: 90%;
  margin: 0px auto;
  /* Powerful grid property that makes items of a container fit in automatically */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.pending-con,
.interview-con,
.jobs-declined-con {
  width: 95%;
  background-color: #fff;
  padding: 40px 25px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: -5px -13px 45px -21px rgba(0, 0, 0, 0.1);
}

.pending-con {
  border-bottom: 4px solid #817c5a;
}

.interview-con {
  border-bottom: 4px solid rgb(95, 95, 248);
}

.jobs-declined-con {
  border-bottom: 4px solid rgb(247, 67, 67);
}

.pending-icon-con,
.interview-icon-con,
.jobs-declined-icon-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
}

.pending-icon-con {
  color: #69633e;
}

.interview-icon-con {
  color: rgb(95, 95, 248);
}

.jobs-declined-icon-con {
  color: rgb(247, 67, 67);
}

.job-preview-con p:last-child {
  font-size: 20px;
  margin-top: 25px;
}
